In [1]:
import pandas as pd
import time

dates = pd.date_range(start='1/1/2017', end='5/31/2024', freq='YS')

In [2]:
all_dfs = []

for date in dates:
    season_start = date.year
    season_end = date.year + 1
    season = f'{season_start}-{season_end}'
    print(season)
    
    df = pd.read_html(f'https://fbref.com/en/comps/9/{season}/schedule/{season}-Premier-League-Scores-and-Fixtures', attrs={"id": f"sched_{season}_9_1"})[0]
    df['Season'] = season
    all_dfs.append(df)

2017-2018
2018-2019
2019-2020
2020-2021
2021-2022
2022-2023
2023-2024
2024-2025

In [3]:
df = pd.concat(all_dfs)

In [4]:
df = df.dropna(subset=['Wk'])

In [5]:
df.columns

Index(['Wk', 'Day', 'Date', 'Time', 'Home', 'xG', 'Score', 'xG.1', 'Away',
       'Attendance', 'Venue', 'Referee', 'Match Report', 'Notes', 'Season'],
      dtype='object')

In [6]:
df.drop(columns=['Match Report', 'Notes'], inplace=True)

In [7]:
df

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Season
0,1.0,Fri,2017-08-11,19:45,Arsenal,2.5,4–3,1.5,Leicester City,59387.0,Emirates Stadium,Mike Dean,2017-2018
1,1.0,Sat,2017-08-12,12:30,Watford,2.1,3–3,2.6,Liverpool,20407.0,Vicarage Road Stadium,Anthony Taylor,2017-2018
2,1.0,Sat,2017-08-12,15:00,Crystal Palace,1.1,0–3,1.5,Huddersfield,25448.0,Selhurst Park,Jonathan Moss,2017-2018
3,1.0,Sat,2017-08-12,15:00,West Brom,1.3,1–0,0.5,Bournemouth,25011.0,The Hawthorns,Robert Madley,2017-2018
4,1.0,Sat,2017-08-12,15:00,Chelsea,1.5,2–3,0.6,Burnley,41616.0,Stamford Bridge,Craig Pawson,2017-2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,38.0,Sun,2025-05-25,16:00,Fulham,NaN,NaN,NaN,Manchester City,NaN,Craven Cottage,NaN,2024-2025
413,38.0,Sun,2025-05-25,16:00,Nott'ham Forest,NaN,NaN,NaN,Chelsea,NaN,The City Ground,NaN,2024-2025
414,38.0,Sun,2025-05-25,16:00,Manchester Utd,NaN,NaN,NaN,Aston Villa,NaN,Old Trafford,NaN,2024-2025
415,38.0,Sun,2025-05-25,16:00,Wolves,NaN,NaN,NaN,Brentford,NaN,Molineux Stadium,NaN,2024-2025
416,38.0,Sun,2025-05-25,16:00,Tottenham,NaN,NaN,NaN,Brighton,NaN,Tottenham Hotspur Stadium,NaN,2024-2025

In [8]:
df.to_csv('data/new_data', index=False)